<% provide(:payed, '済') %>
<% @year = (params[:year] || (Time.zone || Time).now.year).to_i %>
<% @month = (params[:month] || (Time.zone || Time).now.month).to_i %>
<h1>支払確認表（<%= @year %>年度）</h1>

<table border="1">
  <thead>
    <tr>
      <th width="50">名前</th>
      <th width="20">4月</th>
      <th width="20">5月</th>
      <th width="20">6月</th>
      <th width="20">7月</th>
      <th width="20">8月</th>
      <th width="20">9月</th>
      <th width="20">10月</th>
      <th width="20">11月</th>
      <th width="20">12月</th>
      <th width="20">1月</th>
      <th width="20">2月</th>
      <th width="20">3月</th>
      <th width="" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @funds.each do |fund| %>
      <tr>
        <td>
          <center>
            <%= link_to fund.name, fund %>
          </center>
        </td>
        <td>
          <center>
						<% if fund.apr != nil %>
              <font color="green">
                <%= yield(:payed) %>
              </font>
            <% end %>
          </center>
        </td>
        <td>
          <center>
            <% if fund.may != nil %>
              <font color="green">
                <%= yield(:payed) %>
              </font>
            <% end %>
          </center>
        </td>
        <td>
          <center>
            <% if fund.jun != nil %>
              <font color="green">
                <%= yield(:payed) %>
              </font>
            <% end %>
          </center>
        </td>
        <td>
          <center>
            <% if fund.jul != nil %>
              <font color="green">
            <%= yield(:payed) %>
            <% end %>
          </center>
        </td>
        <td>
          <center>
            <% if fund.aug != nil %>
              <font color="green">
                <%= yield(:payed) %>
              </font>
            <% end %>
          </center>
        </td>
        <td>
          <center>
            <% if fund.sep != nil %>
              <font color="green">
                <%= yield(:payed) %>
              </font>
            <% end %>
          </center>
        </td>
        <td>
          <center>
            <% if fund.oct != nil %>
              <font color="green">
                <%= yield(:payed) %>
              </font>
            <% end %>
          </center>
        </td>
        <td>
          <center>
            <% if fund.nov != nil %>
              <font color="green">
                <%= yield(:payed) %>
              </font>
            <% end %>
          </center>
        </td>
        <td>
          <center>
            <% if fund.dec != nil %>
              <font color="green">
                <%= yield(:payed) %>
              </font>
            <% end %>
          </center>
        </td>
        <td>
          <center>
            <% if fund.jan != nil %>
              <font color="green">
                <%= yield(:payed) %>
              </font>
            <% end %>
          </center>
        </td>
        <td>
          <center>
            <% if fund.feb != nil %>
              <font color="green">
                <%= yield(:payed) %>
              </font>
            <% end %>
          </center>
        </td>
        <td>
          <center>
            <% if fund.mar != nil %>
              <font color="green">
                <%= yield(:payed) %>
              </font>
            <% end %>
          </center>
        </td>

<!--    <td><%= link_to "閲覧", fund %></td>-->

        <td><%= link_to "編集", edit_fund_path(fund) %></td>

<!--    <td><%= link_to "削除", fund, method: :delete, data: { confirm: "削除します" } %></td>-->

        <!--個人に通知メールを送信-->
        <td><%= link_to "通知", "../extra/sendmail/#{fund.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p id="notice"><%= flash[:msg] %></p>

<p id="notice"><%= notice %></p>

<br />

<!--全員に通知-->
<%= link_to "会計連絡", "../extra/sendmail_all" %>
<%= "|" %>
<%= link_to "メンバー追加", new_fund_path %>
<!--
<%= "|" %>
<%= link_to "Hello", "hello/view" %>
-->

<!--先月の分が払われていないか判別.

@month : 現在の月を取得
4~15と1~12の関連
  4から15まで増加していき、%12を返す.






-->
