<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @fund.name %>
</p>
<hr>

<ul>

<!--
  <p>
    <strong>これまでの研究室費は以下の通り，確かに徴収いたしました.</strong>
  </p>
-->

  <li>
    <p>
      <strong>4月分:</strong>
      <%= @fund.apr %>
    </p>
  </li>
  <li>
    <p>
      <strong>5月分:</strong>
      <%= @fund.may %>
    </p>
  </li>
  <li>
    <p>
      <strong>6月分:</strong>
      <%= @fund.jun %>
    </p>
  </li>
  <li>
    <p>
      <strong>7月分:</strong>
      <%= @fund.jul %>
    </p>
  </li>
  <li>
    <p>
      <strong>8月分:</strong>
      <%= @fund.aug %>
    </p>
  </li>
  <li>
    <p>
      <strong>9月分:</strong>
      <%= @fund.sep %>
    </p>
  </li>
  <li>
    <p>
      <strong>10月分:</strong>
      <%= @fund.oct %>
    </p>
  </li>
  <li>
    <p>
      <strong>11月分:</strong>
      <%= @fund.nov %>
    </p>
  </li>
  <li>
    <p>
      <strong>12月分:</strong>
      <%= @fund.dec %>
    </p>
  </li>
  <li>
    <p>
      <strong>1月分:</strong>
      <%= @fund.jan %>
    </p>
  </li>
  <li>
    <p>
      <strong>2月分:</strong>
      <%= @fund.feb %>
    </p>
  </li>
  <li>
    <p>
      <strong>3月分:</strong>
      <%= @fund.mar %>
    </p>
  </li>
</ul>

<hr>

<%= link_to '編集', edit_fund_path(@fund) %> |
<%= link_to '戻る', funds_path %>
